.btn-expansion {
  background-color: rgb(255, 195, 111);
  color: white;
  border: none;
  border-radius: 20px;
  
  cursor: pointer;
  transition: all 0.4s ease; /* Transición para el color de fondo */
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
}

.btn-expansion.pressed {
  animation: expand 0.3s forwards;  /* Expansión solo mientras se mantiene presionado */
  background-color:rgba(0, 0, 0, 0.5);  /* Cambiar el color al hacer clic */
}

.btn-expansion span {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-expansion.pressed span:first-child {
  opacity: 0; /* Ocultar el texto original al hacer clic */
}

.btn-expansion.pressed span:last-child {
  opacity: 1; /* Mostrar el mensaje de "Procesando" */
}

/* Definir la animación de expansión */
@keyframes expand {
  0% {
    transform: scale(1);  /* Tamaño original */
  }
  100% {
    transform: scale(1.5);  /* Ampliar al 150% */
  }
}
button {
  background-color: rgb(255, 111, 162);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px -6px rgba(0, 0, 0, 0.7);

  /* Increase shine on hover */
  background-image: linear-gradient(145deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 2px 4px -4px rgba(0, 0, 0, 0.3);

  /* Reduce shine when pressed */
  background-image: linear-gradient(145deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}