/* Contenedor principal */
.Container {
  display: flex; /* Flexbox para alinear en una fila */
  gap: 40px; /* Espaciado entre la izquierda y derecha */
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  border-radius: 8px;
  background-color: rgb(255, 241, 248);
  box-shadow: 0 4px 10px rgba(251, 25, 78, 0.1);
}
h5{
  color: #ff93b9;
  text-align: center;
}
/* Modo oscuro: dinámico */
body.dark-mode .Container {
  background-color: #333;
  color: white;
}
/* Encabezado */
h2 {
  color: #ff4184;
  text-align: center;
  width: 100%; /* Abarca todo el ancho */
}


/* Sección izquierda */
.izquierda {
  flex: 1; /* Ocupa todo el espacio disponible a la izquierda */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Botones */
.botones {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.botones button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  color: white;
}

.botones .btn-aceptar {
  background-color: green;
}

.botones .btn-cancelar {
  background-color: red;
}

.botones .btn-primario {
  background-color: blue;
}

.botones .btn-secundario {
  background-color: purple;
}

.botones .btn-oscuro {
  background-color: black;
  color: white;
}

/* Inputs del formulario */
.izquierda input {
  width: 100%;
  padding: 10px;
  border: 1px solid #404ac1;
  border-radius: 5px;
  font-size: 14px;
}

.izquierda label {
  font-size: 14px;
  margin-bottom: 5px;
}
body.dark-mode .izquierda input {
  background-color: #444;
  border: 1px solid #555;
  color: white;
}

/* Sección derecha: Visualizador */
.visualiza {
  width: 300px; /* Ancho fijo para el visualizador */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  border-left: 2px solid #ff4184;
  background-color: #ffffff57; /* Fondo blanco */
  color: black;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
  
}

/* Modo oscuro */
body.dark-mode .Container {
  background-color: #333;
  color: white;
}

body.dark-mode .visualiza {
  border-left-color: #555;
  background-color: #444;
  color:#ff4184;
}
.Container.dark-mode {
  background-color: #242424; /* FondoSS oscuro */
  color: rgb(255, 191, 244);
  border: 1px solid #000000; /* Borde oscuro */
}

.Container.dark-mode h2 {
  color: white;
  }


  img{
width: 180px;
    height: 300px;
  }