
<div class="Container" [class.dark-mode]="isDarkMode">
  <div class="header">
    <h2>SUMATIVA</h2>
    <h5>NAVIDEÑA</h5>
    <img src="./fefe.jpg" alt="Imagen">
  </div>
  <hr class="divider">  

  <div class="izquierda">
    <!-- Formulario con eventos -->
    <app-email (emailChange)="email = $event"></app-email>
    <app-contra (passwordChange)="password = $event"></app-contra>
    <app-txt (textoChange)="texto = $event"></app-txt>

    <!-- Botones -->
    <div class="botones">
      <app-btn-aceptar (clickAceptar)="onAceptar()"></app-btn-aceptar>
      <app-btn-cancelar (cancelClick)="onCancelar()"></app-btn-cancelar>
      <app-btn-primario (onClick)="onButtonClick()"></app-btn-primario>
      <app-btn-secundario (onClick)="onButtonClick()"></app-btn-secundario>
      <app-btn-oscuro (darkModeToggle)="onDarkModeToggle($event)"></app-btn-oscuro>
    </div>
  </div>

  <div class="visualiza">

    <app-visualizador [email]="email" [password]="password" [texto]="texto"></app-visualizador>
  </div>
</div>
