/* Contenedor para cada campo */
.form-group {
    display: flex;
    flex-direction: column; /* Alinea elementos en columna */
    margin-bottom: 10px; /* Espaciado entre campos */
  }
  
  label {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px; /* Espacio entre la etiqueta y el campo */
  }
  
  input {
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  input:focus {
    outline: none;
    border-color: #ff0051; /* Color azul para el borde al enfocar */
  }
  
  p {
    margin-top: 5px;
    font-size: 12px;
    color: rgb(255, 0, 174);
  }


  